body {

    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    .content {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    }

    h1 {
    font-size: 1.4em;
    font-family: "JetBrains Mono", monospace;
    }

    h2 {
    font-size: 1.25em;
    font-family: "JetBrains Mono", monospace;
    }

    h4 {
    font-size: 1.125em;
    font-family: "JetBrains Mono", monospace;
    }
    
}
